.navbar {
  --nav-scale: min(1, calc(100vw / 1920px));

  width: 100%;
  height: min(100px, 5.208vw);

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 calc(160px * var(--nav-scale));
  background-color: #ffffff;
}

.logo {
  width: calc(201px * var(--nav-scale));
  height: calc(46px * var(--nav-scale));
  object-fit: contain;
}


.nav-links {
  width: calc(533px * var(--nav-scale));

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links a {
  font-family: "Satoshi", sans-serif;
  font-weight: 500;
  font-size: calc(18px * var(--nav-scale));
  line-height: calc(24px * var(--nav-scale));
  color: #000000;

  transition: opacity 0.3s ease;
}

.nav-links a:hover {
  opacity: 0.7;
}

.menu-icon {
  width: calc(45px * var(--nav-scale));
  height: calc(10.5px * var(--nav-scale));
  object-fit: contain;
  cursor: pointer;
}

.nav-links a {
  transition: opacity 0.3s ease;
}

.nav-links a:hover {
  opacity: 0.7;
}

